h1{ background-color: yellowgreen;
    padding: 60px;
    border: 7px solid black;
    margin: 40px;
    text-align: center;
    margin: 40px;
    width: 50%;
    border-radius: 40px;
    border-left: 3px solid chocolate;
}
img{
    height: 290px;
    width: 30%;
}
h2{background-color: red;
    

}
#html{
    background-color: blueviolet;
    display: inline;
}
.tobi{
    background-color: bisque;
    text-align: center;
    font-size: 45px;
    color: black;
    text-decoration: underline;
}
a{ text-decoration: none;
 color:  teal;
}
a:hover{
    background-color: red;
}
ul{
    list-style: none;

}
